<h1>Weather request</h1>
<form action="/weather" method="POST">
    <label for="city" class="weatherinfo">City: </label>
    <input type="text" name="city" class="weatherinput">
    <br>
    <br>
    <br>
    <label for="code" class="weatherinfo">Country code: </label>
    <input type="text" name="code" class="weatherinput">
    <br>
    <button class="weathersubmit">submit</button>
</form>

<br>

{{#if err}}
<h2>{{err}}</h2>
{{/if}}
{{#if dataExists}}
<h3>Today's weather in {{name}}</h3>
<ul>
    {{#each data}}
    <li>{{@key}} : {{this}}</li>
    {{/each}}
</ul>
{{/if}}